<h1>Name</h1>
<div class="profile">
    <div class="picFlex">
        <img class="pic" src="profilePic.jpg" alt="Profile Picture" />
    </div>
    <div class="textFlex">
        <span class="text">Ich bin hesfisjfjlf fsiiojfsljdfle fsojieflklsnfs dfkedfo
            Und ich blaoiefnenl fioensflnef ionflosrfgfd jkgrdinofgoifjifvn fgionsinfonrnfg
            fonennsdjogrioref gipnlofnrgsikf riogfoisnogrfnd ongrifsnkjgrf dgoifnoijgnvijgfbd ognvndfvgwr
            fjiojiofoiejoifIch bin hesfisjfjlf fsiiojfsljdfle fsojieflklsnfs dfkedfo
            Und ich blaoiefnenl fioensflnef ionflosrfgfd jkgrdinofgoifjifvn fgionsinfonrnfg
            fonennsdjogrioref gipnlofnrgsikf riogfoisnogrfnd ongrifsnkjgrf dgoifnoijgnvijgfbd ognvndfvgwr
            fjiojiofoiejoif
        </span>
    </div>
</div>
