/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Titillium Web';
  src: url('fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('fonts/Titillium_Web/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


:root {
  --black: #000000;
  --white: #FFFFFF;

  --blue: #0f1e3a;
  --grey: #465666;
  --light-blue: #3374a8;
  --grey-a: #465666d3;
}


*{
 font-family: Titillium Web;
 margin: 0;
 padding: 0;
 color: var(--grey);
}